body {
  Font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  text-align: center;
}

header {
  display: flex;
  width: 100%;
  height: 69px;
  position: fixed;
  top: 0px;
  justify-content: center;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}
.logo-container {
  display: flex;
  position: relative;
  width: 75%;
}
header img {
  display: flex;
  position: relative;
  height: 50px;
  padding: auto 10px;
  margin: auto 0px auto 10px;
}
.top-nav {  /*  parent "header" tag  */
  display: flex;
  margin-right: 10px;
  width: 25%;
  justify-content: space-around;
  position: relative;
  Font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}
.top-nav a {
  margin: auto;
  color: seashell;
}

/*  here starts the main content's styling  */

main {
  display: flex;
  margin: auto;
  top: 70px;
  width: 100%;
  justify-content: center;
  Font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}
article {
  display: flex;
  margin: auto;
  width: 1500px;
  height: auto;
  flex-direction: column;
  align-items: center;
}
.mission-container {   /*parent "article" tag*/
  display: flex;
  position: relative;
  width: 1200px;
  height: 700px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}
.title-container {     /*parent "mission" tag*/
  display: block;
  position: relative;
  width: 1200px;
  height: 100px;
  background-color: black;
}
.title-container h2, .title-container h4{
  display: block;
  width: 100%;
  margin: 10px auto;
}

/*  here starts the menu section  */

.menu {
  display: flex;
  position: relative;
  width: 1200px;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin: 70px 0px;
}
.box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  text-align: flex-start;
  width: 300px;
  height: auto;
  margin: 30px;
}
.box img {
  display: flex;
  position: relative;
  width: 300px;
  height: 200px;
}
.box h4 {
  display: flex;
  position: relative;
  width: auto;
  margin: 10px auto;
  text-align: center;
}
.menu-title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100px;
}
.menu-title h2, .menu-title h4 {   /*  parent is ".menu"  */
  position: relative;
  margin: auto;
  width: 100%;
}

/*  here starts "locations" section  */

.locations {              /*  paernt is "article"  */
  display: flex;
  position: relative;
  width: 1200px;
  height: 500px;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-size: cover;
}
.locations-title {
  display: flex;
  width: 100%;
  height: 50px;
  margin: auto;
  position: relative;
  margin: 15px auto;
}
.locations-title h2 {
  display: flex;
  position: relative;
  margin: 15px auto;
}
.location-box {            /*  parent is ".location"  */
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  margin: 0px 20px 40px 20px;
  width: 300px;
  height: auto;
  text-align: center;
  background-color: black;
  opacity: 1;
}
.locations h3 .locations p{
  display: flex;
  width: 300px;
  text-align: center;
}
/*  here starts the footer  */

footer {
  position: relative;
}
.footer-info {
  height: 200px;
}
#copyright {
  text-align: left;
  padding-left: 20px;
}
